cicddeploymenttestapi/src/main/mule/cicddeploymenttestapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="307c7a05-11b8-4b1f-ad25-cd9c703736cf" basePath="cicd" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="cicddeploymenttestapiFlow" doc:id="b5cb132e-70f9-4900-9ddd-7c4bacc30a9a" >
		<http:listener doc:name="Listener" doc:id="f0cc653f-fa42-449b-9bf3-9b599a3c006d" config-ref="HTTP_Listener_config" path="/test" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="662b4eec-4c08-4641-8c63-2e7c3a368fa7" message="#[payload]" category="Initial Payload"/>
		<ee:transform doc:name="Transform Message" doc:id="e3ee3428-c3b7-4f35-aa75-da829e9f25ce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="08d1f17f-8d7e-4502-b31c-0a014ec9cc01" message="#[payload]" category="finalOutput"/>
	</flow>
</mule>
