simpleapi/src/main/mule/simpleapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d1617709-73a3-4429-ac82-37ba67dcb89c" basePath="/simple" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="simpleapiFlow" doc:id="3acc6b04-ff5d-4a8e-b379-a9f9a8ce2552" >
		<http:listener doc:name="Listener" doc:id="09f2b514-678d-456a-b2d7-09132572340e" config-ref="HTTP_Listener_config" path="/test" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="898c5775-eb22-4b88-a4a2-66c121d89258" message="#[payload]" category="OriginalPayload"/>
		<ee:transform doc:name="Transform Message" doc:id="c27c5d3c-b67c-4ee7-a2ea-5c2035328358" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fc6962a3-5406-4396-a4ad-756577e8a51a" message="#[payload]" category="FinalPayload"/>
	</flow>
</mule>
