batchexcercises/src/main/mule/batchexcercises.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="479f9144-0501-496c-b3a6-b8c4a0a1b65c" file="config.properties" />
	<import doc:name="Import" doc:id="5cdeba5e-9c34-4567-82f6-79927e42c9e7" file="global-config.xml" />
	<import doc:name="Import" doc:id="32bfd2d8-3ae0-4d31-ad9a-c9b6539bda60" file="error-handler.xml" />
	<flow name="batchexcercisesFlow" doc:id="5419b6f6-900a-486f-b071-f9ed88a65809" >
		<scheduler doc:name="Scheduler" doc:id="bc653517-b7e3-485a-b932-fdd8f1dbad59" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency}" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:id="448acb19-17ec-4953-94b3-4dcc9df7c59a" path="${file.input.filename}" doc:name="ReadFileFromLocal" config-ref="File_Config"/>
		<set-variable value="$" doc:name="Set Variable" doc:id="0c605b53-a8fc-46ea-ba54-31b0f98a1e2d" variableName="directory"/>
		<ee:transform doc:name="convert records to array" doc:id="2f72b089-568f-4847-955e-1c1111c0a7d7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map (item) -> {
  emp_id: item.id,
  emp_name: item.name,
  emp_email: item.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="e2232ab9-c7da-46ac-8d8d-c79784abb433" variableName="DataToProcess"/>
		<logger level="INFO" doc:name="Logger" doc:id="b6974212-3d38-405c-a0cb-c48180ebe6fa" message="#[vars.DataToProcess]" category="PRINT VARIABLE BEFORE BATCH"/>
		<batch:job jobName="batchexcercisesBatch_Job1" doc:id="2394dbbc-553c-4042-9b35-28a480b2cd31" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="328b098b-5b63-4606-90c0-6fcc42792f31" acceptPolicy="ALL">
					<logger level="INFO" doc:name="Logger" doc:id="dea5bf8f-03fd-4eed-98ea-eb06fed5581e" message="#[payload]" category="printpayload"/>
					<ee:transform doc:name="read records one by one" doc:id="60e0469d-ba1a-4212-8c74-d7ac81cc733c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
 {
  emp_id: payload.emp_id,
  emp_name: payload.emp_name,
  emp_email: payload.emp_email
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="7852aaac-3718-4f2e-9860-65a5927c6c50" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="7f7534e5-b357-4ba9-b500-4ec0c711a495" message="#[payload]" category="process all"/>
						<db:bulk-insert doc:name="Bulk insert" doc:id="343130d8-7ac1-46d7-a604-dac5af15797e" config-ref="Database_Config">
							<db:sql ><![CDATA[INSERT INTO employees (emp_id, emp_name, emp_email)
VALUES (:emp_id, :emp_name, :emp_email)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="LoggerBatchComplete" doc:id="707b35b8-449a-47fb-9fb7-554fc46eb607" message="#[payload]" category="Final After Completing BatchJob"/>
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Logger" doc:id="05aa899b-bc6c-4259-b919-7215ddee7a45" message="#[vars.DataToProcess]" category="Final After Completing the Batch"/>
	</flow>
</mule>
