smallintegration/src/main/mule/smallintegration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7f5abfdb-a186-40ce-a763-06420820283a" basePath="/integration" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="smallintegrationFlow" doc:id="2513d391-ad00-4a69-8f74-d4cfe9b76f2a" >
		<http:listener doc:name="Listener" doc:id="2fbadc22-ae62-4451-a989-7e5e10891893" config-ref="HTTP_Listener_config" path="/test" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="5311afac-c89c-4aee-af16-c930fba29316" message="#[payload]" category="print the payload"/>
	</flow>
</mule>
